argdown-map pre.language-argdown code {
  color: #000;
}
.language-argdown.extra-class {
  background-color: #ffffff;
}
.token.comment,
.token.cdata.frontmatter,
.token.frontmatter .token.punctuation,
.token.cdata.hashtag,
.token.cdata.data {
  color: #9b9b85;
}
.token.operator.support {
  color: #4ea429;
  font-weight: bold;
}
.token.operator.attack,
.token.operator.contradiction {
  color: #c24545;
  font-weight: bold;
}
.token.operator.undercut {
  color: #c227a7;
  font-weight: bold;
}
.token.class-name.statement,
.token.class-name.statement .punctuation {
  color: #3b95bc;
  font-weight: bold;
}
.token.class-name.argument,
.token.class-name.argument .punctuation,
.token.inference.function,
.token.inference.function .punctuation,
.token.punctuation.argument-statement,
.token.punctuation.argument-statement .punctuation {
  color: #134c66;
  font-weight: bold;
}
.token.punctuation.argument-statement,
.token.punctuation.argument-statement .punctuation {
  font-weight: normal;
}
.token.inference .punctuation {
  font-weight: bold;
}
.token.inference.function,
.token.inference.function .token.data.cdata {
  font-weight: normal;
}
.token.important.title,
.token.important.title .punctuation {
  color: #8b8b7a;
}
.token.punctuation {
  color: #6d6d5d;
}
.token.url {
  color: #3b95bc;
}
