.DS_Store
node_modules

/docs/.vuepress/dist/

.nyc_output

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn
.yarnrc

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

