.latest-news{
  margin: 0 auto;
  font-size: 0.9rem;
  text-align: center;
  margin-top: -1.5rem;
}
button()
  display: inline-block;
  font-size: 0.8rem;
  color: #fff;
  background-color: #3e8eaf;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  border-bottom: 1px solid #38809d;
  margin: 0 3px;

  &:hover {
    background-color: #387e9c;
  }

  svg {
    height: 0.8rem;
    width: auto;
    color: #fff;
  }

body.noscroll {
  overflow: hidden;
}
.content:not(.custom) > h2,
.content:not(.custom) > h3, 
.content:not(.custom) > h4, 
.content:not(.custom) > h5, 
.content:not(.custom) > h6{
  margin-bottom: 1.2rem;
}
p + h2{
  margin-top: 3rem;
}
h3{
  margin-top: 3rem;
}
.navbar .site-name{
  padding-left: 65px;
  background: url(/argdown-mark.svg);
  background-size: 55px;
  background-repeat: no-repeat;
}
h3 em{
  display: inline-block;
  border-radius: 50%;
	width: 45px;
	height: 45px;   
  line-height: 45px;
  text-align: center;
  background-color: $accentColor;
  color: #fff;  
  margin-right: 1rem;
  font-weight: bold;
  font-style: normal;
}
.buttonlist{
  ul{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
    padding: 0;
    margin:2rem 0;
    @media (max-width: 719px){
        flex-direction: column;
    }
  }
  ul li {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 30%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #4e6e8e;
    line-height: 1.7;
@media (max-width: 719px)
{
    max-width: 100%;
}
}
ul li a{
  button()
  display:table;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  font-size: 1.2rem;
  svg.icon.outbound{
    display:none;
  }
}
}
.definition{
  background-color: #f4f4f4;
  padding: 0.5rem 2rem;
  margin: 2rem 0;
}
table{
  margin:2rem 0;
  table-layout: fixed;
  td{
    width: 2%;
    line-height: 1.7;
  }
}
.theme-default-content pre code.language-argdown{
    color: #000;
}
.theme-default-content pre.language-argdown{
    color: #000;
    background-color: #fff;
    margin: 0;
}
.theme-default-content:not(.custom) > h1, .theme-default-content:not(.custom) > h2, .theme-default-content:not(.custom) > h3, .theme-default-content:not(.custom) > h4, .theme-default-content:not(.custom) > h5, .theme-default-content:not(.custom) > h6 {
    margin-top: -3.1rem;
    padding-top: 4.6rem;
    margin-bottom: 1rem;
}

main.page{
  margin-top: 3.6rem;
}