$accentColor = #3e8eaf
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #232230;

body.noscroll {
  overflow: hidden;
}
.content:not(.custom) > h2,
.content:not(.custom) > h3, 
.content:not(.custom) > h4, 
.content:not(.custom) > h5, 
.content:not(.custom) > h6{
  margin-bottom: 1.2rem;
}
.navbar .site-name{
  padding-left: 65px;
  background: url(/argdown-mark.svg);
  background-size: 55px;
  background-repeat: no-repeat;
}
@import "/snow-in-spring.argdown-theme.css";


